*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baskervville SC", serif;
}
body,html{
    width: 100%;
    height: 100%;
}
/* common style */
.cmn-style{
    color: rgb(35, 199, 199);
}
.cmn-style-wh{
    color: white;
}
.part-title{
    word-spacing: 4px;
    text-align: center;
}
.part-para{
    text-align: center;
    font-size: 21px;
    text-transform: capitalize;
    color: rgb(192, 41, 41);
    font-weight: 700;
}
/* header section start */
header{
    background-color: rgb(68, 96, 255);
    height: 60vh;
    
}
.header-container{
         display: flex;
         justify-content: space-around;
         align-items: center;
        padding-top: 30px;
}
.header-text{
    width: 36%;
    box-sizing: border-box;
}
.header-qes{
      text-align: center;
      font-size: 17px;
      color: rgb(82, 245, 90);
}
.header-title{
       font-size: 65px;
       text-align: center;
}
.header-para{
       font-size: 29px;background-color: rgb(29, 28, 28);
       color: aliceblue;
       border-radius: 3px;
}
.header-speech{
    padding: 40px 0 15px 0;
    font-size: 24px;
}
.down-circle{
    text-align: center;
}
.fa-angle-down{
    border: 4px solid rgb(49, 207, 212);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 13px 0;
    font-size: 30px;
    color:  rgb(49, 207, 212);
}
.header-img{
    width: 40%;
  
}
.header-img img{
    width: 60%;
    padding: 0 120px;
}

/* header section end */
/* nav section start */
nav{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 10px;
 border-bottom: 1px solid rgb(211, 205, 205);
 padding-bottom: 10px;
}
.logo img{
    height: 60px;
    width: 120px;
    border-radius: 8px;
}
.menu ul{
   display: flex;
   gap: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li > a{
   text-decoration: none;
   color: black;
   font-weight: 700;
   padding: 8px 12px;
   border-radius: 8px;
   transition: .3s;
}
.menu li > a:hover{
     background-color: rgb(61, 223, 209);
}
.menu li >a:visited{
    color: rgb(16, 62, 161);
}
.fa-magnifying-glass{
    font-size: 18px;
    color: rgb(25, 182, 182);
}
/* nav section end */
/* main section start */


   /* offer section start  */
   .offer-section-container{
          display: flex;
          text-align: center;
          justify-content: space-around;
   }
   .box-offer{
       width: 25%;
   }
   .box-icon{
        height: 100px;
        width: 100px;
        background-color: rgb(37, 35, 35);
        margin: 40px auto;
        border-radius: 50%;
        transition: .4s;
        
   }
     .box-icon>i{
        color: rgb(74, 139, 129);
        padding-top: 35px;
        font-size: 26px;
   }
   .box-icon:hover{
         background-color: rgb(123, 233, 49);
         color: black;
   }
   .offer-title{
      margin: 12px 0;
      font-size: 20px;
      color: rgb(53, 172, 106);
   }
   .offer-para{
      margin-bottom:16px ;
      font-size: 18px;
      color: rgb(129, 132, 138);

   }
   .btn-offer{
        padding: 9px 14px;
        color: black;
        border: none;
        border-radius: 4px;
        transition: .4s;
   }
   .btn-offer:hover{
    background-color:rgb(61, 223, 209) ;
   }
   /* offer section end  */
  /* amazing section start*/
   .amazing{
     background-color: rgb(39, 39, 39);
     height:70vh;
     margin-top: 60px;
     background-image: linear-gradient(45deg, rgb(18, 93, 192), rgb(96, 28, 141));
   }
   .amazing >.part-para{
    color: rgb(231, 172, 96);
   }
   .amazing-container{
      margin: 80px  120px 0px 120px;
   }
   .amazing-box{
     width: 40%;
     display: flex;
     align-items: center;
     gap: 50px;
     margin-top: 25px;
    
   }
   .amazing-feature i{
        font-size:50px;
        width: 50px; 
        color: rgb(250, 187, 52);       

   }
   .amazing-feature >h4{
    color: rgb(74, 245, 231);
     font-size: 18px;
   }
   .amazing-feature>p{
      width: 68%;
      color: rgb(162, 226, 43);
   }
  /* amazing section end */
/* main section end */